In [3]:
#!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise (from surprise)
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
Collecting joblib>=0.11 (from scikit-surprise->surprise)
  Downloading https://files.pythonhosted.org/packages/fc/c9/f58220ac44a1592f79a343caba12f6837f9e0c04c196176a3d66338e1ea8/joblib-0.17.0-py3-none-any.whl (301kB)
Requirement already satisfied: numpy>=1.11.2 in d:\apps\anacondastudio\lib\site-packages (from scikit-surprise->surprise) (1.16.2)
Requirement already satisfied: scipy>=1.0.0 in d:\apps\anacondastudio\lib\site-packages (from scikit-surprise->surprise) (1.2.1)
Requirement already satisfied: six>=1.10.0 in d:\apps\anacondastudio\lib\site-packages (from scikit-surprise->surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py): started
  Building wheel for scikit-surprise (setup.py): finished with status 'done'
  Stored in directory: C:\Users\Hayden\AppData\Local\pip\Cache\wheels\78\9c\3d\41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: joblib, scikit-surprise, surprise
Successfully installed joblib-0.17.0 scikit-surprise-1.1.1 surprise-0.1

In [6]:
import gzip
from collections import defaultdict
import random
import pandas as pd
import numpy as np
import string
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer as tfv
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

import json
import seaborn as sns
import math
import matplotlib.pyplot as plt
from scipy import stats
from ast import literal_eval
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD
import surprise
import warnings; warnings.simplefilter('ignore')

In [10]:
revs = pd.read_csv("ratings_small.csv")
revs

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
5            1     1263     2.0  1260759151
6            1     1287     2.0  1260759187
7            1     1293     2.0  1260759148
8            1     1339     3.5  1260759125
9            1     1343     2.0  1260759131
10           1     1371     2.5  1260759135
11           1     1405     1.0  1260759203
12           1     1953     4.0  1260759191
13           1     2105     4.0  1260759139
14           1     2150     3.0  1260759194
15           1     2193     2.0  1260759198
16           1     2294     2.0  1260759108
17           1     2455     2.5  1260759113
18           1     2968     1.0  1260759200
19           1     3671     3.0  1260759117
20           2       10     4.0   835355493
21           2       17     5.0   835355681
22           2       39     5.0   835355604
23           2       47     4.0   835355552
24           2       50     4.0   835355586
25           2       52     3.0   835356031
26           2       62     3.0   835355749
27           2      110     4.0   835355532
28           2      144     3.0   835356016
29           2      150     5.0   835355395
...        ...      ...     ...         ...
99974      671     4034     4.5  1064245493
99975      671     4306     5.0  1064245548
99976      671     4308     3.5  1065111985
99977      671     4880     4.0  1065111973
99978      671     4886     5.0  1064245488
99979      671     4896     5.0  1065111996
99980      671     4963     4.5  1065111855
99981      671     4973     4.5  1064245471
99982      671     4993     5.0  1064245483
99983      671     4995     4.0  1064891537
99984      671     5010     2.0  1066793004
99985      671     5218     2.0  1065111990
99986      671     5299     3.0  1065112004
99987      671     5349     4.0  1065111863
99988      671     5377     4.0  1064245557
99989      671     5445     4.5  1064891627
99990      671     5464     3.0  1064891549
99991      671     5669     4.0  1063502711
99992      671     5816     4.0  1065111963
99993      671     5902     3.5  1064245507
99994      671     5952     5.0  1063502716
99995      671     5989     4.0  1064890625
99996      671     5991     4.5  1064245387
99997      671     5995     4.0  1066793014
99998      671     6212     2.5  1065149436
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [34]:
md = pd.read_csv("movies_metadata.csv")
md = md.dropna(subset = ["title"])

In [35]:
def parse_collection(x):
    if type(x) != type("str"):
        return np.nan
    else:
        #Don't bother trying to actually parse the JSON, huge waste of time
        return int(x[7:x.find(",")])
        if "Weekend at Bernie" in x:
            return 118221
        return json.loads(x.replace("'", '"').replace("None", '"None"'))["id"]

In [36]:
#Basic processing - convert strings to ints and unpack jsons
md["collection_id"] = md["belongs_to_collection"].apply(parse_collection)
md["budget"] = md["budget"].apply(lambda x: math.log(float(x) + 1, 10.0))
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
md['id'] = md['id'].astype(int)
md['revenue'] = md['revenue'].apply(lambda x: math.log(float(x) + 1, 10.0))
md['runtime'] = md['runtime'].astype(float)
md['vote_average'] = md['vote_average'].astype(float)
md['vote_count'] = md['vote_count'].astype(int)

In [39]:
#For 1-hot encoding languages: arbitrarily only grab languages that appear in over 1000 movies
lvc = md["original_language"].value_counts()
def transform_language(x):
    if x in lvc and lvc[x] > 1000:
        return x
    else:
        return "ot"

In [40]:
md["t_language"] = md["original_language"].apply(transform_language)
dum = pd.get_dummies(md["t_language"])
md = pd.concat([md, dum], axis=1) 
md

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_average,vote_count,collection_id,t_language,de,en,fr,it,ja,ot
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",7.477121,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,7.7,5415,10194.0,en,0,1,0,0,0,0
1,False,NaN,7.812913,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,6.9,2413,NaN,en,0,1,0,0,0,0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.000000,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,6.5,92,119050.0,en,0,1,0,0,0,0
3,False,NaN,7.204120,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,6.1,34,NaN,en,0,1,0,0,0,0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.000000,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,5.7,173,96871.0,en,0,1,0,0,0,0
5,False,NaN,7.778151,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,7.7,1886,NaN,en,0,1,0,0,0,0
6,False,NaN,7.763428,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,6.2,141,NaN,en,0,1,0,0,0,0
7,False,NaN,0.000000,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,5.4,45,NaN,en,0,1,0,0,0,0
8,False,NaN,7.544068,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,5.5,174,NaN,en,0,1,0,0,0,0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",7.763428,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,6.6,1194,645.0,en,0,1,0,0,0,0
10,False,NaN,7.792392,"[Comedy, Drama, Romance]",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,6.5,199,NaN,en,0,1,0,0,0,0
11,False,NaN,0.000000,"[Comedy, Horror]",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,5.7,210,NaN,en,0,1,0,0,0,0
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0.000000,"[Family, Animation, Adventure]",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,7.1,423,117693.0,en,0,1,0,0,0,0
13,False,NaN,7.643453,"[History, Drama]",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,7.1,72,NaN,en,0,1,0,0,0,0
14,False,NaN,7.991226,"[Action, Adventure]",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,5.7,137,NaN,en,0,1,0,0,0,0
15,False,NaN,7.716003,"[Drama, Crime]",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,7.8,1343,NaN,en,0,1,0,0,0,0
16,False,NaN,7.217484,"[Drama, Romance]",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,7.2,364,NaN,en,0,1,0,0,0,0
17,False,NaN,6.602060,"[Crime, Comedy]",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,6.5,539,NaN,en,0,1,0,0,0,0
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",7.477121,"[Crime, Comedy, Adventure]",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,6.1,1128,3167.0,en,0,1,0,0,0,0
19,False,NaN,7.778151,"[Action, Comedy, Crime]",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,5.4,224,NaN,en,0,1,0,0,0,0
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",7.480725,"[Comedy, Thriller, Crime]",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,6.4,305,91698.0,en,0,1,0,0,0,0
21,False,NaN,0.000000,"[Drama, Thriller]",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,6.5,199,NaN,en,0,1,0,0,0,0
22,False,NaN,7.698970,"[Action, Adventure, Crime, Thriller]",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,6.0,394,NaN,en,0,1,0,0,0,0
23,False,NaN,0.000000,"[Drama, Fantasy, Science Fiction, Thriller]",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,6.3,143,NaN,en,0,1,0,0,0,0
24,False,NaN,6.556303,"[Drama, Romance]",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,7.1,365,NaN,en,0,1,0,0,0,0
25,False,NaN,0.000000,[Drama],NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,7.0,33,NaN,en,0,1,0,0,0,0
26,False,NaN,7.079181,"[Comedy, Drama, Family]",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,6.6,91,NaN,en,0,1,0,0,0,0
27,False,NaN,0.000000,"[Drama, Romance]",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,7.4,36,NaN,en,0,1,0,0,0,0
28,False,NaN,7.255273,"[Fantasy, Science Fiction, Adventure]",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,7.6,308,NaN,fr,0,0,1,0,0,0
29,False,NaN,0.000000,"[Drama, Crime]",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,6.5,17,NaN,ot,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0.000000,"[Action, Mystery, Thriller, Horror]",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,3.7,11,NaN,en,0,1,0,0,0,0
45437,False,NaN,0.000000,"[Family, Animation, Romance, Comedy]",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,8.3,146,NaN,en,0,1,0,0,0,0
45438,False,NaN,0.000000,[Drama],NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,6.8,11,NaN,ot,0,0,0,0,0,1
45439,False,NaN,0.000000,"[Drama, Fantasy, Horror]",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,5.8,2,NaN,en,0,1,0,0,0,0
45440,False,NaN,0.000000,"[Drama, Family, TV Movie]",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,5.0,12,NaN,en,0,1,0,0,0,0
45441,False,NaN,0.000000,[Comedy],NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,5.2,145,NaN,en,0,1,0,0,0,0
45442,False,NaN,0.000000,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,5.0,3,NaN,en,0,1,0,0,0,0
45443,False,NaN,0.000000,"[Comedy, Fantasy, Science Fiction]",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,7.6,29,NaN,fr,0,0,1,0,0,0
45444,False,NaN,0.000000,[Fantasy],NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,6.1,8,NaN,fr,0,0,1,0,0,0
45445,False,NaN,0.000000,"[Fantasy, Comedy]",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,4.5,2,NaN,en,0,1,0,0,0,0
45446,False,NaN,0.000000,"[Fantasy, Comedy]",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,6.7,12,NaN,en,0,1,0,0,0,0
45447,False,NaN,0.000000,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,6.0,6,NaN,fr,0,0,1,0,0,0
45448,False,NaN,0.000000,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,5.0,2,NaN,fr,0,0,1,0,0,0
45449,False,NaN,0.000000,"[Animation, Family]",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,5.4,7,NaN,en,0,1,0,0,0,0
45450,False,NaN,0.000000,"[Fantasy, Action, Thriller]",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,6.5,22,NaN,fr,0,0,1,0,0,0
45451,False,NaN,0.000000,"[Comedy, Fantasy]",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,6.5,6,NaN,fr,0,0,1,0,0,0
45452,False,NaN,0.000000,[Documentary],NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,0.0,0,NaN,en,0,1,0,0,0,0
45453,False,NaN,0.000000,"[Crime, Drama, Thriller]",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,6.6,14,NaN,ot,0,0,0,0,0,1
45454,False,NaN,0.000000,"[Comedy, Drama]",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,4.0,2,NaN,en,0,1,0,0,0,0
45455,False,NaN,0.000000,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,6.0,3,NaN,it,0,0,0,1,0,0
45456,False,NaN,0.000000,"[Horror, Mystery, Thriller]",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,6.3,8,NaN,en,0,1,0,0,0,0
45457,False,NaN,0.000000,"[Mystery, Horror]",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,7.0,2,NaN,en,0,1,0,0,0,0
45458,False,NaN,0.000000,[Horror],NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,7.0,1,NaN,en,0,1,0,0,0,0
45459,False,NaN,0.000000,[Science Fiction],NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,3.5,1,NaN,en,0,1,0,0,0,0
45460,False,NaN,0.000000,"[Drama, Action, Romance]",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,5.7,26,NaN,en,0,1,0,0,0,0
45461,False,NaN,0.000000,"[Drama, Family]",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,4.0,1,NaN,ot,0,0,0,0,0,1
45462,False,NaN,0.000000,[Drama],NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,9.0,3,NaN,ot,0,0,0,0,0,1
45463,False,NaN,0.000000,"[Action, Drama, Thriller]",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,3.8,6,NaN,en,0,1,0,0,0,0
45464,False,NaN,0.000000,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,0,NaN,en,0,1,0,0,0,0
45465,False,NaN,0.000000,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,0,NaN,en,0,1,0,0,0,0

In [41]:
print(md["t_language"].value_counts())

en    32267
ot     6797
fr     2438
it     1529
ja     1349
de     1080
Name: t_language, dtype: int64

In [42]:
#Create a subset of movies for computational ease.
links_small = pd.read_csv('links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')
smd = md[md['id'].isin(links_small)]
smd.shape

(9099, 32)

In [43]:
#combine tagline and description, then run tf-idf on it
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')
tf = tfv(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [45]:
#load in credits and keywords, then merge them into md
# ###Note: this resets the earlier change we made to combine tagline and description.
#           There is absolutely no reason for that.
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
md['id'] = md['id'].astype('int')

In [52]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')
smd = md[md['id'].isin(links_small)]
smd.shape

(9219, 35)

In [53]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [54]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [55]:
smd['director'] = smd['crew'].apply(get_director)

In [56]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [57]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [58]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))